@import "compass/reset";

* { margin: 0; padding: 0; }

html, body {
    background-color: #FFF;
    height: 100%;
}

$cry-font: "Andale Mono", AndaleMono, Consolas, monaco monospace;

@mixin boxflex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center; 
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center;
    justify-content: center;
    
    -webkit-flex-direction: column;
    flex-direction: column;
}

.ghoul {
    @include boxflex;
    margin: 0;
    height: 100%;
    width: 100%;
    
    background-color: rgb(29, 0, 255);
    font-family: $cry-font;
    color: #FFF;
}

.saltcircle {
    @include boxflex;
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    
    position: fixed;
    top: 0;
    z-index: 9;
}

#future {
    -webkit-animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.saltcircle svg {
    width: 600px;
    height: 600px;
    -webkit-backface-visibility: hidden;
}

.three05 {
    @include boxflex;
    width: 45%;
    height: 3em;
    border: 2px solid #FFF;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tomycity {
    @include boxflex;
    width: 45%;
    height: 3em;
    border: 2px solid #FFF;
    margin-top: 2%;
    margin-bottom: 2%;
}