/* line 1, ../sass/pillar.scss */
#top, #bottom, #left, #right {
  background: #ffffff;
  position: fixed;
}

/* line 5, ../sass/pillar.scss */
#left, #right {
  top: 0;
  bottom: 0;
  width: 15px;
}

/* line 9, ../sass/pillar.scss */
#left {
  left: 0;
}

/* line 10, ../sass/pillar.scss */
#right {
  right: 0;
}

/* line 12, ../sass/pillar.scss */
#top, #bottom {
  left: 0;
  right: 0;
  height: 170px;
  z-index: 10;
}

/* line 17, ../sass/pillar.scss */
#top {
  top: 0;
}

/* line 18, ../sass/pillar.scss */
#bottom {
  bottom: 0;
}

/* line 20, ../sass/pillar.scss */
.glitch {
  color: white;
  position: relative;
  width: 700px;
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  /* line 28, ../sass/pillar.scss */
  0% {
    clip: rect(36px, 9999px, 34px, 0);
  }

  /* line 32, ../sass/pillar.scss */
  5% {
    clip: rect(15px, 9999px, 6px, 0);
  }

  /* line 36, ../sass/pillar.scss */
  10% {
    clip: rect(72px, 9999px, 10px, 0);
  }

  /* line 40, ../sass/pillar.scss */
  15.0% {
    clip: rect(39px, 9999px, 74px, 0);
  }

  /* line 44, ../sass/pillar.scss */
  20% {
    clip: rect(45px, 9999px, 30px, 0);
  }

  /* line 48, ../sass/pillar.scss */
  25% {
    clip: rect(2px, 9999px, 71px, 0);
  }

  /* line 52, ../sass/pillar.scss */
  30.0% {
    clip: rect(32px, 9999px, 14px, 0);
  }

  /* line 56, ../sass/pillar.scss */
  35% {
    clip: rect(14px, 9999px, 78px, 0);
  }

  /* line 60, ../sass/pillar.scss */
  40% {
    clip: rect(94px, 9999px, 3px, 0);
  }

  /* line 64, ../sass/pillar.scss */
  45% {
    clip: rect(76px, 9999px, 78px, 0);
  }

  /* line 68, ../sass/pillar.scss */
  50% {
    clip: rect(31px, 9999px, 22px, 0);
  }

  /* line 72, ../sass/pillar.scss */
  55.0% {
    clip: rect(22px, 9999px, 59px, 0);
  }

  /* line 76, ../sass/pillar.scss */
  60.0% {
    clip: rect(53px, 9999px, 49px, 0);
  }

  /* line 80, ../sass/pillar.scss */
  65% {
    clip: rect(64px, 9999px, 73px, 0);
  }

  /* line 84, ../sass/pillar.scss */
  70% {
    clip: rect(97px, 9999px, 80px, 0);
  }

  /* line 88, ../sass/pillar.scss */
  75% {
    clip: rect(82px, 9999px, 21px, 0);
  }

  /* line 92, ../sass/pillar.scss */
  80% {
    clip: rect(3px, 9999px, 95px, 0);
  }

  /* line 96, ../sass/pillar.scss */
  85.0% {
    clip: rect(67px, 9999px, 39px, 0);
  }

  /* line 100, ../sass/pillar.scss */
  90% {
    clip: rect(3px, 9999px, 76px, 0);
  }

  /* line 104, ../sass/pillar.scss */
  95% {
    clip: rect(31px, 9999px, 12px, 0);
  }

  /* line 108, ../sass/pillar.scss */
  100% {
    clip: rect(2px, 9999px, 81px, 0);
  }
}

/* line 112, ../sass/pillar.scss */
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  /* line 126, ../sass/pillar.scss */
  0% {
    clip: rect(68px, 9999px, 24px, 0);
  }

  /* line 130, ../sass/pillar.scss */
  5% {
    clip: rect(91px, 9999px, 3px, 0);
  }

  /* line 134, ../sass/pillar.scss */
  10% {
    clip: rect(97px, 9999px, 93px, 0);
  }

  /* line 138, ../sass/pillar.scss */
  15.0% {
    clip: rect(26px, 9999px, 73px, 0);
  }

  /* line 142, ../sass/pillar.scss */
  20% {
    clip: rect(26px, 9999px, 51px, 0);
  }

  /* line 146, ../sass/pillar.scss */
  25% {
    clip: rect(14px, 9999px, 100px, 0);
  }

  /* line 150, ../sass/pillar.scss */
  30.0% {
    clip: rect(86px, 9999px, 88px, 0);
  }

  /* line 154, ../sass/pillar.scss */
  35% {
    clip: rect(26px, 9999px, 17px, 0);
  }

  /* line 158, ../sass/pillar.scss */
  40% {
    clip: rect(77px, 9999px, 88px, 0);
  }

  /* line 162, ../sass/pillar.scss */
  45% {
    clip: rect(37px, 9999px, 95px, 0);
  }

  /* line 166, ../sass/pillar.scss */
  50% {
    clip: rect(62px, 9999px, 81px, 0);
  }

  /* line 170, ../sass/pillar.scss */
  55.0% {
    clip: rect(25px, 9999px, 6px, 0);
  }

  /* line 174, ../sass/pillar.scss */
  60.0% {
    clip: rect(88px, 9999px, 98px, 0);
  }

  /* line 178, ../sass/pillar.scss */
  65% {
    clip: rect(32px, 9999px, 22px, 0);
  }

  /* line 182, ../sass/pillar.scss */
  70% {
    clip: rect(81px, 9999px, 42px, 0);
  }

  /* line 186, ../sass/pillar.scss */
  75% {
    clip: rect(34px, 9999px, 49px, 0);
  }

  /* line 190, ../sass/pillar.scss */
  80% {
    clip: rect(91px, 9999px, 55px, 0);
  }

  /* line 194, ../sass/pillar.scss */
  85.0% {
    clip: rect(15px, 9999px, 13px, 0);
  }

  /* line 198, ../sass/pillar.scss */
  90% {
    clip: rect(46px, 9999px, 96px, 0);
  }

  /* line 202, ../sass/pillar.scss */
  95% {
    clip: rect(51px, 9999px, 67px, 0);
  }

  /* line 206, ../sass/pillar.scss */
  100% {
    clip: rect(71px, 9999px, 8px, 0);
  }
}

/* line 210, ../sass/pillar.scss */
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/* line 224, ../sass/pillar.scss */
p {
  color: #FFFFFF;
  font-size: 26px;
  margin-top: 100px;
  text-align: centre;
}

/* line 231, ../sass/pillar.scss */
html, body, div.particles {
  background-color: #000;
  letter-spacing: 2pt;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 1;
  border: 0;
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
}

/* line 247, ../sass/pillar.scss */
textarea {
  opacity: 0.0;
  position: absolute;
  z-index: 10;
  top: 10em;
}

/* line 254, ../sass/pillar.scss */
#container {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* line 260, ../sass/pillar.scss */
#stats {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Info */
@keyframes show-info {
  /* line 268, ../sass/pillar.scss */
  0% {
    transform: rotateY(120deg);
  }

  /* line 272, ../sass/pillar.scss */
  100% {
    transform: rotateY(0deg);
  }
}

/* line 277, ../sass/pillar.scss */
img.chromoji {
  width: 1em !important;
  height: 1em !important;
}

/* line 282, ../sass/pillar.scss */
.chromoji-font, #chromoji-font {
  font-size: 1em !important;
}
