/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/screen.scss */
html, body {
  background-color: #FFF;
  height: 100%;
}

/* line 35, ../sass/screen.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 39, ../sass/screen.scss */
.phantom {
  width: 100%;
  height: 2000%;
  z-index: -10;
  background-color: #1d00ff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d00ff), to(red));
  background-image: -webkit-linear-gradient(top, #1d00ff, red);
  background-image: -moz-linear-gradient(top, #1d00ff, red);
  background-image: -o-linear-gradient(top, #1d00ff, red);
  background-image: linear-gradient(top, #1d00ff, #ff0000);
}

/* line 52, ../sass/screen.scss */
.ghoul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  font-family: "Andale Mono", AndaleMono, Consolas, monaco monospace;
  color: #FFF;
}

/* line 64, ../sass/screen.scss */
.saltcircle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 0;
}

/* line 76, ../sass/screen.scss */
#future {
  -webkit-animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
  /* line 81, ../sass/screen.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 82, ../sass/screen.scss */
  to {
    -webkit-transform: rotate(359deg);
  }
}

/* line 85, ../sass/screen.scss */
.saltcircle svg {
  width: 600px;
  height: 600px;
  -webkit-backface-visibility: hidden;
}

/* line 91, ../sass/screen.scss */
.three05 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 45%;
  height: 3em;
  border: 2px solid #FFF;
  margin-top: 2%;
  margin-bottom: 2%;
  z-index: 11;
}

/* line 101, ../sass/screen.scss */
.tomycity {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 45%;
  height: 3em;
  border: 2px solid #FFF;
  margin-top: 2%;
  margin-bottom: 2%;
  z-index: 11;
}
